body{
    background-color: slategrey;
    backface-visibility: initial;
    border: 2px;
}
.contener{
    margin-top: 10%;
    margin-left:10%;
}

a{
    text-decoration: none;
}
a:hover{
    background-color: bisque;
    width: 5em;
    lengh: 3em;
}
button:hover{
    background-color: coral;
    border: none;
}